# Prerrequisites

Installing Spark and Apache Kafka Library in VM


---

In [ ]:
# install Java8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# download spark3.0.1
!wget -q https://apache.osuosl.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz

# unzip it
!tar xf spark-3.0.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install py4j

# For maps
!pip install folium
!pip install plotly

Collecting py4j
  Downloading https://files.pythonhosted.org/packages/30/42/25ad191f311fcdb38b750d49de167abd535e37a144e730a80d7c439d1751/py4j-0.10.9.1-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 7.5MB/s
Installing collected packages: py4j
Successfully installed py4j-0.10.9.1
Requirement already satisfied: folium in /usr/local/lib/python3.6/dist-packages (0.8.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from folium) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from folium) (2.23.0)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from folium) (0.4.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from folium) (2.11.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from folium) (1.18.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->folium) (2020.11.8)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->folium) (1.1.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)

Define the environment (Java & Spark homes)

---

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--master local[*] pyspark-shell"

Starting Spark Session and print the version


---

In [ ]:
import findspark
findspark.init("spark-3.0.1-bin-hadoop3.2")# SPARK_HOME

from pyspark.sql import SparkSession

# create the session
spark = SparkSession \
        .builder \
        .master("local[*]") \
        .config("spark.ui.port", "4500") \
        .getOrCreate()

spark.version

'3.0.1'

In [ ]:
spark

In [ ]:
# For Pandas conversion optimization
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

Creating ngrok tunnel to allow Spark UI (Optional)

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip -o ngrok-stable-linux-amd64.zip
!sleep 2
get_ipython().system_raw('./ngrok http 4500 &')
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

--2020-11-25 12:51:21--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 34.198.20.103, 35.174.46.144, 54.227.160.247, ...
Connecting to bin.equinox.io (bin.equinox.io)|34.198.20.103|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13773305 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip.1’

ngrok-stable-linux- 100%[===================>]  13.13M  15.9MB/s    in 0.8s

2020-11-25 12:51:22 (15.9 MB/s) - ‘ngrok-stable-linux-amd64.zip.1’ saved [13773305/13773305]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok
http://767ee60b1595.ngrok.io

# Descargar Datasets

In [ ]:
!mkdir -p /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/bank.csv -P /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/vehicles.csv -P /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/characters.csv -P /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/planets.csv -P /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/species.csv -P /dataset
!ls /dataset

bank.csv  characters.csv  planets.csv  species.csv  vehicles.csv

# Windows Partitioning

---

## Ejemplo 1

In [ ]:
!head /dataset/bank.csv

"age";"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
30;"unemployed";"married";"primary";"no";1787;"no";"no";"cellular";19;"oct";79;1;-1;0;"unknown";"no"
33;"services";"married";"secondary";"no";4789;"yes";"yes";"cellular";11;"may";220;1;339;4;"failure";"no"
35;"management";"single";"tertiary";"no";1350;"yes";"no";"cellular";16;"apr";185;1;330;1;"failure";"no"
30;"management";"married";"tertiary";"no";1476;"yes";"yes";"unknown";3;"jun";199;4;-1;0;"unknown";"no"
59;"blue-collar";"married";"secondary";"no";0;"yes";"no";"unknown";5;"may";226;1;-1;0;"unknown";"no"
35;"management";"single";"tertiary";"no";747;"no";"no";"cellular";23;"feb";141;2;176;3;"failure";"no"
36;"self-employed";"married";"tertiary";"no";307;"yes";"no";"cellular";14;"may";341;1;330;2;"other";"no"
39;"technician";"married";"secondary";"no";147;"yes";"no";"cellular";6;"may";151;2;-1;0;"unknown";"no"
41;"entrepreneur";"married";"tertiary";"no";221;"yes";"no";"unknown";14;"may";57;2;-1;0;"unknown";"no"

Leyendo Datos del fichero bank.csv a un Dataframe

In [ ]:
from pyspark.sql.functions import *

bank_df = spark.read.format("csv") \
  .option("sep", ";") \
  .option("inferSchema", "true") \
  .option("header", "true") \
  .load("/dataset/bank.csv")

In [ ]:
bank_df.show()

+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|age|          job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
| 30|   unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|
| 33|     services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|
| 35|   management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|
| 30|   management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|
| 59|  blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|
| 35|   management| single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure| no|
| 36|self-employed|married| tertiary|     no|    307|    yes|  no|cellular| 14|  may|     341|       1|  330|       2|   other| no|
| 39|   technician|married|secondary|     no|    147|    yes|  no|cellular|  6|  may|     151|       2|   -1|       0| unknown| no|
| 41| entrepreneur|married| tertiary|     no|    221|    yes|  no| unknown| 14|  may|      57|       2|   -1|       0| unknown| no|
| 43|     services|married|  primary|     no|    -88|    yes| yes|cellular| 17|  apr|     313|       1|  147|       2| failure| no|
| 39|     services|married|secondary|     no|   9374|    yes|  no| unknown| 20|  may|     273|       1|   -1|       0| unknown| no|
| 43|       admin.|married|secondary|     no|    264|    yes|  no|cellular| 17|  apr|     113|       2|   -1|       0| unknown| no|
| 36|   technician|married| tertiary|     no|   1109|     no|  no|cellular| 13|  aug|     328|       2|   -1|       0| unknown| no|
| 20|      student| single|secondary|     no|    502|     no|  no|cellular| 30|  apr|     261|       1|   -1|       0| unknown|yes|
| 31|  blue-collar|married|secondary|     no|    360|    yes| yes|cellular| 29|  jan|      89|       1|  241|       1| failure| no|
| 40|   management|married| tertiary|     no|    194|     no| yes|cellular| 29|  aug|     189|       2|   -1|       0| unknown| no|
| 56|   technician|married|secondary|     no|   4073|     no|  no|cellular| 27|  aug|     239|       5|   -1|       0| unknown| no|
| 37|       admin.| single| tertiary|     no|   2317|    yes|  no|cellular| 20|  apr|     114|       1|  152|       2| failure| no|
| 25|  blue-collar| single|  primary|     no|   -221|    yes|  no| unknown| 23|  may|     250|       1|   -1|       0| unknown| no|
| 31|     services|married|secondary|     no|    132|     no|  no|cellular|  7|  jul|     148|       1|  152|       1|   other| no|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

**Obtén el balance de las dos personas más jóvenes por tipo de trabajo**

In [ ]:
from pyspark.sql.window import Window

byJob = Window.partitionBy("job").orderBy("age")

bank_df \
  .withColumn("new_column_job", row_number().over(byJob)) \
  .filter(col("new_column_job") <= 2) \
  .select("age", "job", "balance") \
  .orderBy("job", "age") \
  .show()

+---+-------------+-------+
|age|          job|balance|
+---+-------------+-------+
| 22|       admin.|   4111|
| 23|       admin.|      5|
| 23|  blue-collar|    817|
| 23|  blue-collar|   8627|
| 23| entrepreneur|      4|
| 25| entrepreneur|  16874|
| 26|    housemaid|    543|
| 26|    housemaid|   -759|
| 23|   management|    736|
| 24|   management|    172|
| 24|      retired|    366|
| 35|      retired|    285|
| 25|self-employed|    453|
| 26|self-employed|    211|
| 21|     services|    361|
| 21|     services|   1903|
| 19|      student|    103|
| 19|      student|      0|
| 22|   technician|    333|
| 23|   technician|    598|
+---+-------------+-------+
only showing top 20 rows

## Ejercicio 1

**A partir del Dataframe formado a partir del fichero "bank.csv". 
Obtén el Top 3 de máximos balances por estado civil**


---

In [ ]:
byMarital = Window.partitionBy("marital").orderBy(col("balance").desc())

bank_df \
  .withColumn("ranking", row_number().over(byMarital)) \
  .filter(col("ranking") <= 3) \
  .show()

+---+-------------+--------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-------+
|age|          job| marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|ranking|
+---+-------------+--------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-------+
| 54|   management|divorced| tertiary|     no|  26306|    yes|  no|cellular| 11|  feb|      27|       1|   84|       3| failure| no|      1|
| 34|   management|divorced| tertiary|     no|  13204|    yes| yes|cellular| 20|  nov|     197|       2|   -1|       0| unknown| no|      2|
| 51|self-employed|divorced|  primary|     no|  10924|     no|  no|cellular|  6|  may|     106|       2|   -1|       0| unknown| no|      3|
| 60|      retired| married|  primary|     no|  71188|     no|  no|cellular|  6|  oct|     205|       1|   -1|       0| unknown| no|      1|
| 42| entrepreneur| married| tertiary|     no|  42045|     no|  no|cellular|  8|  aug|     205|       2|   -1|       0| unknown| no|      2|
| 36|   management| married| tertiary|     no|  27359|    yes|  no| unknown|  3|  jun|      71|       2|   -1|       0| unknown| no|      3|
| 43|   technician|  single| tertiary|     no|  27733|    yes|  no| unknown|  3|  jun|     164|       7|   -1|       0| unknown| no|      1|
| 31|    housemaid|  single|  primary|     no|  26965|     no|  no|cellular| 21|  apr|     654|       2|   -1|       0| unknown|yes|      2|
| 49|      retired|  single|  primary|     no|  25824|     no|  no| unknown| 17|  jun|      94|       1|   -1|       0| unknown| no|      3|
+---+-------------+--------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-------+

## Ejercicio 2

**Carga el fichero de vehicles.csv en un DataFrame**

In [ ]:
!head /dataset/vehicles.csv

name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,vehicle_class
Sand Crawler,Digger Crawler,Corellia Mining Corporation,150000,36.8,30,46,30,50000,2 months,wheeled
T-16 skyhopper,T-16 skyhopper,Incom Corporation,14500,10.4,1200,1,1,50,0,repulsorcraft
X-34 landspeeder,X-34 landspeeder,SoroSuub Corporation,10550,3.4,250,1,1,5,NA,repulsorcraft
TIE/LN starfighter,Twin Ion Engine/Ln Starfighter,Sienar Fleet Systems,NA,6.4,1200,1,0,65,2 days,starfighter
Snowspeeder,t-47 airspeeder,Incom corporation,NA,4.5,650,2,0,10,none,airspeeder
TIE bomber,TIE/sa bomber,Sienar Fleet Systems,NA,7.8,850,1,0,none,2 days,space/planetary bomber
AT-AT,All Terrain Armored Transport,"Kuat Drive Yards, Imperial Department of Military Research",NA,20,60,5,40,1000,NA,assault walker
AT-ST,All Terrain Scout Transport,"Kuat Drive Yards, Imperial Department of Military Research",NA,2,90,2,0,200,none,walker
Storm IV Twin-Pod cloud car,Storm IV Twin-Pod,Bespin Motors,75000,7,1500,2,0,10,1 day,repulsorcraft

In [ ]:
vehiclesDF_all = spark.read.format("csv")\
  .option("sep", ",") \
  .option("inferSchema", "true") \
  .option("header", "true") \
  .load("/dataset/vehicles.csv")

In [ ]:
vehiclesDF_all.show(truncate=False)

+------------------------------+-------------------------------+----------------------------------------------------------+---------------+------+----------------------+----+----------+--------------+---------------+-------------------------+
|name                          |model                          |manufacturer                                              |cost_in_credits|length|max_atmosphering_speed|crew|passengers|cargo_capacity|consumables    |vehicle_class            |
+------------------------------+-------------------------------+----------------------------------------------------------+---------------+------+----------------------+----+----------+--------------+---------------+-------------------------+
|Sand Crawler                  |Digger Crawler                 |Corellia Mining Corporation                               |150000         |36.8  |30                    |46  |30        |50000         |2 months       |wheeled                  |
|T-16 skyhopper                |T-16 skyhopper                 |Incom Corporation                                         |14500          |10.4  |1200                  |1   |1         |50            |0              |repulsorcraft            |
|X-34 landspeeder              |X-34 landspeeder               |SoroSuub Corporation                                      |10550          |3.4   |250                   |1   |1         |5             |NA             |repulsorcraft            |
|TIE/LN starfighter            |Twin Ion Engine/Ln Starfighter |Sienar Fleet Systems                                      |NA             |6.4   |1200                  |1   |0         |65            |2 days         |starfighter              |
|Snowspeeder                   |t-47 airspeeder                |Incom corporation                                         |NA             |4.5   |650                   |2   |0         |10            |none           |airspeeder               |
|TIE bomber                    |TIE/sa bomber                  |Sienar Fleet Systems                                      |NA             |7.8   |850                   |1   |0         |none          |2 days         |space/planetary bomber   |
|AT-AT                         |All Terrain Armored Transport  |Kuat Drive Yards, Imperial Department of Military Research|NA             |20    |60                    |5   |40        |1000          |NA             |assault walker           |
|AT-ST                         |All Terrain Scout Transport    |Kuat Drive Yards, Imperial Department of Military Research|NA             |2     |90                    |2   |0         |200           |none           |walker                   |
|Storm IV Twin-Pod cloud car   |Storm IV Twin-Pod              |Bespin Motors                                             |75000          |7     |1500                  |2   |0         |10            |1 day          |repulsorcraft            |
|Sail barge                    |Modified Luxury Sail Barge     |Ubrikkian Industries Custom Vehicle Division              |285000         |30    |100                   |26  |500       |2000000       |Live food tanks|sail barge               |
|Bantha-II cargo skiff         |Bantha-II                      |Ubrikkian Industries                                      |8000           |9.5   |250                   |5   |16        |135000        |1 day          |repulsorcraft cargo skiff|
|TIE/IN interceptor            |Twin Ion Engine Interceptor    |Sienar Fleet Systems                                      |NA             |9.6   |1250                  |1   |0         |75            |2 days         |starfighter              |
|Imperial Speeder Bike         |74-Z speeder bike              |Aratech Repulsor Company                                  |8000           |3     |360                   |1   |1         |4             |1 day          |speeder                  |
|Vulture Droid                 |Vulture-class droid starfighter|Haor Chall Engineering, Baktoid Armor Workshop            |NA             |3.5   |1200                  |0   |0         |0             |none           |starfighter              |
|Multi-Troop Transport         |Multi-Troop Transport          |Baktoid Armor Workshop                                    |138000         |31    |35                    |4   |112       |12000         |NA             |repulsorcraft            |
|Armored Assault Tank          |Armoured Assault Tank          |Baktoid Armor Workshop                                    |NA             |9.75  |55                    |4   |6         |NA            |NA             |repulsorcraft            |
|Single Trooper Aerial Platform|Single Trooper Aerial Platform |Baktoid Armor Workshop                                    |2500           |2     |400                   |1   |0         |none          |none           |repulsorcraft            |
|C-9979 landing craft          |C-9979 landing craft           |Haor Chall Engineering                                    |200000         |210   |587                   |140 |284       |1800000       |1 day          |landing craft            |
|Tribubble bongo               |Tribubble bongo                |Otoh Gunga Bongameken Cooperative                         |NA             |15    |85                    |1   |2         |1600          |NA             |submarine                |
|Sith speeder                  |FC-20 speeder bike             |Razalon                                                   |4000           |1.5   |180                   |1   |0         |2             |NA             |speeder                  |
+------------------------------+-------------------------------+----------------------------------------------------------+---------------+------+----------------------+----+----------+--------------+---------------+-------------------------+
only showing top 20 rows

**Para cada uno de los vehículos, obtén la diferencia de precio (*cost_in_credits*) para cada producto con respecto al más barato en la misma clase de vehículo**


---

In [ ]:
from pyspark.sql.types import IntegerType

vehicles_filtered = vehiclesDF_all \
  .filter(col("cost_in_credits") != "NA") \
  .withColumn("cost_in_credits", col("cost_in_credits").cast(IntegerType()))
vehicles_filtered.printSchema()

root
 |-- name: string (nullable = true)
 |-- model: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- cost_in_credits: integer (nullable = true)
 |-- length: string (nullable = true)
 |-- max_atmosphering_speed: string (nullable = true)
 |-- crew: integer (nullable = true)
 |-- passengers: string (nullable = true)
 |-- cargo_capacity: string (nullable = true)
 |-- consumables: string (nullable = true)
 |-- vehicle_class: string (nullable = true)

In [ ]:
from pyspark.sql.functions import *

byClass = Window.partitionBy("vehicle_class") \
  .orderBy(col("cost_in_credits").asc())


vehicles_filtered \
  .withColumn("cost_difference", min(col("cost_in_credits")).over(byClass) - col("cost_in_credits")) \
  .withColumn("min_cost", min(col("cost_in_credits")).over(byClass)) \
  .orderBy(col("vehicle_class"), col("cost_in_credits").desc()) \
  .show()

+--------------------+--------------------+--------------------+---------------+------+----------------------+----+----------+--------------+---------------+--------------------+---------------+--------+
|                name|               model|        manufacturer|cost_in_credits|length|max_atmosphering_speed|crew|passengers|cargo_capacity|    consumables|       vehicle_class|cost_difference|min_cost|
+--------------------+--------------------+--------------------+---------------+------+----------------------+----+----------+--------------+---------------+--------------------+---------------+--------+
|Raddaugh Gnasp fl...|Raddaugh Gnasp fl...|Appazanna Enginee...|          14750|     7|                   310|   2|         0|            20|           none|         air speeder|              0|   14750|
|       Droid gunship|   HMP droid gunship|Baktoid Fleet Ord...|          60000|  12.3|                   820|   0|         0|             0|           none|          airspeeder|         -47875|   12125|
|Oevvaor jet catam...|Oevvaor jet catam...|Appazanna Enginee...|          12125|  15.1|                   420|   2|         2|            50|         3 days|          airspeeder|              0|   12125|
|   Droid tri-fighter|         tri-fighter|Colla Designs, Ph...|          20000|   5.4|                  1180|   1|         0|             0|           none|   droid starfighter|              0|   20000|
|Corporate Allianc...|NR-N99 Persuader-...|        Techno Union|          49000| 10.96|                   100|   0|         4|          none|           none|          droid tank|              0|   49000|
|C-9979 landing craft|C-9979 landing craft|Haor Chall Engine...|         200000|   210|                   587| 140|       284|       1800000|          1 day|       landing craft|              0|  200000|
|Multi-Troop Trans...|Multi-Troop Trans...|Baktoid Armor Wor...|         138000|    31|                    35|   4|       112|         12000|             NA|       repulsorcraft|        -135500|    2500|
|Storm IV Twin-Pod...|   Storm IV Twin-Pod|       Bespin Motors|          75000|     7|                  1500|   2|         0|            10|          1 day|       repulsorcraft|         -72500|    2500|
|      T-16 skyhopper|      T-16 skyhopper|   Incom Corporation|          14500|  10.4|                  1200|   1|         1|            50|              0|       repulsorcraft|         -12000|    2500|
|    X-34 landspeeder|    X-34 landspeeder|SoroSuub Corporation|          10550|   3.4|                   250|   1|         1|             5|             NA|       repulsorcraft|          -8050|    2500|
| Zephyr-G swoop bike| Zephyr-G swoop bike|Mobquet Swoops an...|           5750|  3.68|                   350|   1|         1|           200|           none|       repulsorcraft|          -3250|    2500|
|Single Trooper Ae...|Single Trooper Ae...|Baktoid Armor Wor...|           2500|     2|                   400|   1|         0|          none|           none|       repulsorcraft|              0|    2500|
|Bantha-II cargo s...|           Bantha-II|Ubrikkian Industries|           8000|   9.5|                   250|   5|        16|        135000|          1 day|repulsorcraft car...|              0|    8000|
|          Sail barge|Modified Luxury S...|Ubrikkian Industr...|         285000|    30|                   100|  26|       500|       2000000|Live food tanks|          sail barge|              0|  285000|
|    Flitknot speeder|    Flitknot speeder|Huppla Pasa Tisc ...|           8000|     2|                   634|   1|         0|            NA|             NA|             speeder|          -4000|    4000|
|Imperial Speeder ...|   74-Z speeder bike|Aratech Repulsor ...|           8000|     3|                   360|   1|         1|             4|          1 day|             speeder|          -4000|    4000|
|        Sith speeder|  FC-20 speeder bike|             Razalon|           4000|   1.5|                   180|   1|         0|             2|             NA|             speeder|              0|    4000|
|               AT-RT|All Terrain Recon...|    Kuat Drive Yards|          40000|   3.2|                    90|   1|         0|            20|          1 day|              walker|              0|   40000|
|        Sand Crawler|      Digger Crawler|Corellia Mining C...|         150000|  36.8|                    30|  46|        30|         50000|       2 months|             wheeled|              0|  150000|
|    Clone turbo tank|  HAVw A6 Juggernaut|    Kuat Drive Yards|         350000|  49.4|                   160|  20|       300|         30000|        20 days|      wheeled walker|        -335000|   15000|
+--------------------+--------------------+--------------------+---------------+------+----------------------+----+----------+--------------+---------------+--------------------+---------------+--------+
only showing top 20 rows

# Joins

## Ejercicio 3

**Crea los dataframes correspondientes para los ficheros "characters.csv" y "planets.csv". <br/>
Obtén la gravedad del planeta para cada personaje. Selecciona sólo el nombre del personaje y planeta además de su gravedad**


---

In [ ]:
charactersDF_all = spark.read.format("csv")\
  .option("sep", ",") \
  .option("inferSchema", "true") \
  .option("header", "true") \
  .load("/dataset/characters.csv")

In [ ]:
charactersDF_all.show(truncate=False)

+---------------------+------+-----+-------------+----------------+---------+----------+-------------+----------+--------------+
|name                 |height|mass |hair_color   |skin_color      |eye_color|birth_year|gender       |homeworld |species       |
+---------------------+------+-----+-------------+----------------+---------+----------+-------------+----------+--------------+
|Luke Skywalker       |172   |77   |blond        |fair            |blue     |19BBY     |male         |Tatooine  |Human         |
|C-3PO                |167   |75   |NA           |gold            |yellow   |112BBY    |NA           |Tatooine  |Droid         |
|R2-D2                |96    |32   |NA           |white, blue     |red      |33BBY     |NA           |Naboo     |Droid         |
|Darth Vader          |202   |136  |none         |white           |yellow   |41.9BBY   |male         |Tatooine  |Human         |
|Leia Organa          |150   |49   |brown        |light           |brown    |19BBY     |female       |Alderaan  |Human         |
|Owen Lars            |178   |120  |brown, grey  |light           |blue     |52BBY     |male         |Tatooine  |Human         |
|Beru Whitesun lars   |165   |75   |brown        |light           |blue     |47BBY     |female       |Tatooine  |Human         |
|R5-D4                |97    |32   |NA           |white, red      |red      |NA        |NA           |Tatooine  |Droid         |
|Biggs Darklighter    |183   |84   |black        |light           |brown    |24BBY     |male         |Tatooine  |Human         |
|Obi-Wan Kenobi       |182   |77   |auburn, white|fair            |blue-gray|57BBY     |male         |Stewjon   |Human         |
|Anakin Skywalker     |188   |84   |blond        |fair            |blue     |41.9BBY   |male         |Tatooine  |Human         |
|Wilhuff Tarkin       |180   |NA   |auburn, grey |fair            |blue     |64BBY     |male         |Eriadu    |Human         |
|Chewbacca            |228   |112  |brown        |NA              |blue     |200BBY    |male         |Kashyyyk  |Wookiee       |
|Han Solo             |180   |80   |brown        |fair            |brown    |29BBY     |male         |Corellia  |Human         |
|Greedo               |173   |74   |NA           |green           |black    |44BBY     |male         |Rodia     |Rodian        |
|Jabba Desilijic Tiure|175   |1,358|NA           |green-tan, brown|orange   |600BBY    |hermaphrodite|Nal Hutta |Hutt          |
|Wedge Antilles       |170   |77   |brown        |fair            |hazel    |21BBY     |male         |Corellia  |Human         |
|Jek Tono Porkins     |180   |110  |brown        |fair            |blue     |NA        |male         |Bestine IV|Human         |
|Yoda                 |66    |17   |white        |green           |brown    |896BBY    |male         |NA        |Yoda's species|
|Palpatine            |170   |75   |grey         |pale            |yellow   |82BBY     |male         |Naboo     |Human         |
+---------------------+------+-----+-------------+----------------+---------+----------+-------------+----------+--------------+
only showing top 20 rows

In [ ]:
planetsDF_all = spark.read.format("csv")\
  .option("sep", ";") \
  .option("inferSchema", "true") \
  .option("header", "true") \
  .load("/dataset/planets.csv")

In [ ]:
planetsDF_all.show(truncate=False)

+--------------+---------------+--------------+--------+----------------------+--------------------------------------+----------------------------------------+-------------+-----------+
|name          |rotation_period|orbital_period|diameter|climate               |gravity                               |terrain                                 |surface_water|population |
+--------------+---------------+--------------+--------+----------------------+--------------------------------------+----------------------------------------+-------------+-----------+
|Alderaan      |24             |364           |12500   |temperate             |1 standard                            |grasslands, mountains                   |40           |2000000000 |
|Yavin IV      |24             |4818          |10200   |temperate, tropical   |1 standard                            |jungle, rainforests                     |8            |1000       |
|Hoth          |23             |549           |7200    |frozen                |1.1 standard                          |tundra, ice caves, mountain ranges      |100          |NA         |
|Dagobah       |23             |341           |8900    |murky                 |N/A                                   |swamp, jungles                          |8            |NA         |
|Bespin        |12             |5110          |118000  |temperate             |1.5 (surface), 1 standard (Cloud City)|gas giant                               |0            |6000000    |
|Endor         |18             |402           |4900    |temperate             |0.85 standard                         |forests, mountains, lakes               |8            |30000000   |
|Naboo         |26             |312           |12120   |temperate             |1 standard                            |grassy hills, swamps, forests, mountains|12           |4500000000 |
|Coruscant     |24             |368           |12240   |temperate             |1 standard                            |cityscape, mountains                    |NA           |1E+12      |
|Kamino        |27             |463           |19720   |temperate             |1 standard                            |ocean                                   |100          |1000000000 |
|Geonosis      |30             |256           |11370   |temperate, arid       |0.9 standard                          |rock, desert, mountain, barren          |5            |1E+11      |
|Utapau        |27             |351           |12900   |temperate, arid, windy|1 standard                            |scrublands, savanna, canyons, sinkholes |0.9          |95000000   |
|Mustafar      |36             |412           |4200    |hot                   |1 standard                            |volcanoes, lava rivers, mountains, caves|0            |20000      |
|Kashyyyk      |26             |381           |12765   |tropical              |1 standard                            |jungle, forests, lakes, rivers          |60           |45000000   |
|Polis Massa   |24             |590           |0       |artificial temperate  |0.56 standard                         |airless asteroid                        |0            |1000000    |
|Mygeeto       |12             |167           |10088   |frigid                |1 standard                            |glaciers, mountains, ice canyons        |NA           |19000000   |
|Felucia       |34             |231           |9100    |hot, humid            |0.75 standard                         |fungus forests                          |NA           |8500000    |
|Cato Neimoidia|25             |278           |0       |temperate, moist      |1 standard                            |mountains, fields, forests, rock arches |NA           |10000000   |
|Saleucami     |26             |392           |14920   |hot                   |NA                                    |caves, desert, mountains, volcanoes     |NA           |1400000000 |
|Stewjon       |NA             |NA            |0       |temperate             |1 standard                            |grass                                   |NA           |NA         |
|Eriadu        |24             |360           |13490   |polluted              |1 standard                            |cityscape                               |NA           |22000000000|
+--------------+---------------+--------------+--------+----------------------+--------------------------------------+----------------------------------------+-------------+-----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import *

charactersDF_all \
  .join(planetsDF_all, charactersDF_all["homeworld"] == planetsDF_all["name"]) \
  .select(charactersDF_all["name"], planetsDF_all["name"], col("gravity")) \
  .show()

+--------------------+-----------+-------------+
|                name|       name|      gravity|
+--------------------+-----------+-------------+
|          Wat Tambor|      Skako|            1|
|      Wilhuff Tarkin|     Eriadu|   1 standard|
|          Tion Medon|     Utapau|   1 standard|
|   Poggle the Lesser|   Geonosis| 0.9 standard|
|       Ratts Tyerell|Aleen Minor|           NA|
|               Dooku|    Serenno|           NA|
|            Shaak Ti|      Shili|            1|
|           Sly Moore|     Umbara|           NA|
|          Mon Mothma|  Chandrila|            1|
|           Chewbacca|   Kashyyyk|   1 standard|
|             Tarfful|   Kashyyyk|   1 standard|
|Wicket Systri War...|      Endor|0.85 standard|
|                Yoda|         NA|           NA|
|               IG-88|         NA|           NA|
|        Arvel Crynyd|         NA|           NA|
|        Qui-Gon Jinn|         NA|           NA|
|              R4-P17|         NA|           NA|
|                Finn|         NA|           NA|
|                 Rey|         NA|           NA|
|         Poe Dameron|         NA|           NA|
+--------------------+-----------+-------------+
only showing top 20 rows

## Ejercicio 4

**Revisa el plan de ejecución del ejercicio 3. ¿Qué tipo de join se está ejecutando? ¿Por qué?**

---

**Después de revisar el plan de ejecución, ejecuta las siguientes instrucciones**

---

In [ ]:
spark.conf.set("spark.sql.autoBroadcastJoinThreshold", '0')

In [ ]:
spark.conf.get("spark.sql.autoBroadcastJoinThreshold")

'0'

**Vuelve a ejecutar la consulta del ejercicio 3 que contiene el Join**

---

## Ejercicio 5

**Crea un DataFrame a partir del fichero de "species.csv" y reparticiona este y el DataFrame de Characters a 100 particiones**


---

In [ ]:
charactersDF_repartition = charactersDF_all.repartition(100)

In [ ]:
speciesDF_all = spark.read.format("csv") \
  .option("sep", ",") \
  .option("inferSchema", "true") \
  .option("header", "true") \
  .load("/dataset/species.csv")

In [ ]:
speciesDF_all.show()

+--------------+--------------+-----------+--------------+--------------------+--------------------+--------------------+----------------+--------------+--------------+
|          name|classification|designation|average_height|         skin_colors|         hair_colors|          eye_colors|average_lifespan|      language|     homeworld|
+--------------+--------------+-----------+--------------+--------------------+--------------------+--------------------+----------------+--------------+--------------+
|          Hutt|     gastropod|   sentient|           300|   green, brown, tan|                  NA|         yellow, red|            1000|       Huttese|     Nal Hutta|
|Yoda's species|        mammal|   sentient|            66|       green, yellow|        brown, white|brown, green, yellow|             900|Galactic basic|            NA|
|    Trandoshan|       reptile|   sentient|           200|        brown, green|                none|      yellow, orange|              NA|          Dosh|     Trandosha|
|  Mon Calamari|     amphibian|   sentient|           160|red, blue, brown,...|                none|              yellow|              NA|Mon Calamarian|      Mon Cala|
|          Ewok|        mammal|   sentient|           100|               brown| white, brown, black|       orange, brown|              NA|       Ewokese|         Endor|
|     Sullustan|        mammal|   sentient|           180|                pale|                none|               black|              NA|     Sullutese|       Sullust|
|     Neimodian|            NA|   sentient|           180|         grey, green|                none|           red, pink|              NA|     Neimoidia|Cato Neimoidia|
|        Gungan|     amphibian|   sentient|           190|        brown, green|                none|              orange|              NA|  Gungan basic|         Naboo|
|     Toydarian|        mammal|   sentient|           120|   blue, green, grey|                none|              yellow|              91|     Toydarian|      Toydaria|
|           Dug|        mammal|   sentient|           100|brown, purple, gr...|                none|        yellow, blue|              NA|        Dugese|     Malastare|
|       Twi'lek|       mammals|   sentient|           200|orange, yellow, b...|                none|blue, brown, oran...|              NA|      Twi'leki|        Ryloth|
|        Aleena|       reptile|   sentient|            80|          blue, gray|                none|                  NA|              79|        Aleena|   Aleen Minor|
|    Vulptereen|            NA|   sentient|           100|                grey|                none|              yellow|              NA|    vulpterish|       Vulpter|
|         Xexto|            NA|   sentient|           125|grey, yellow, purple|                none|               black|              NA|       Xextese|       Troiken|
|         Toong|            NA|   sentient|           200| grey, green, yellow|                none|              orange|              NA|        Tundan|          Tund|
|        Cerean|        mammal|   sentient|           200|           pale pink|red, blond, black...|               hazel|              NA|        Cerean|         Cerea|
|      Nautolan|     amphibian|   sentient|           180|green, blue, brow...|                none|               black|              70|       Nautila|   Glee Anselm|
|        Zabrak|        mammal|   sentient|           180|pale, brown, red,...|               black|       brown, orange|              NA|       Zabraki|      Iridonia|
|    Tholothian|        mammal|   sentient|            NA|                dark|                  NA|        blue, indigo|              NA|            NA|       Tholoth|
|      Iktotchi|            NA|   sentient|           180|                pink|                none|              orange|              NA|    Iktotchese|       Iktotch|
+--------------+--------------+-----------+--------------+--------------------+--------------------+--------------------+----------------+--------------+--------------+
only showing top 20 rows

In [ ]:
speciesDF_repartition = speciesDF_all.repartition(100)

## Ejercicio 6

**Obtén la clasificación de especies para cada personaje. Selecciona sólo el nombre del personaje y su clasificación de especie**<br>
Usa los datframes reparticionados


---

In [ ]:
classDF = charactersDF_repartition \
  .join(speciesDF_repartition, charactersDF_repartition["species"] == speciesDF_repartition["name"]) \
  .select(charactersDF_repartition["name"], speciesDF_repartition["classification"]) \

In [ ]:
classDF.show()

+--------------------+--------------+
|                name|classification|
+--------------------+--------------+
|          Zam Wesell|     reptilian|
|     Dexter Jettster|     amphibian|
|           Nien Nunb|        mammal|
|Wicket Systri War...|        mammal|
|             Sebulba|        mammal|
|                Yoda|        mammal|
|     Luminara Unduli|        mammal|
|       Barriss Offee|        mammal|
|          Wat Tambor|        mammal|
|          Tion Medon|        mammal|
|      Ben Quadinaros|            NA|
|          Adi Gallia|        mammal|
|              Greedo|      sentient|
|          Mas Amedda|     amphibian|
|            Shaak Ti|        mammal|
|             Gasgano|            NA|
|            Plo Koon|            NA|
|         Nute Gunray|            NA|
|          Darth Maul|        mammal|
|           Eeth Koth|        mammal|
+--------------------+--------------+
only showing top 20 rows

## Ejercicio 7

**Ejecuta la siguiente operación sobre el DataFrame del ejercicio 6 y observa la diferencia de reparto de rows entre las particiones**

---

In [ ]:
from pyspark.sql.functions import *

classDF \
  .withColumn("partitionId", spark_partition_id()) \
  .groupBy("partitionId") \
  .count() \
  .orderBy(col("count").desc()) \
  .show()

+-----------+-----+
|partitionId|count|
+-----------+-----+
|        183|   35|
|        170|    5|
|        169|    3|
|         58|    2|
|         65|    2|
|        173|    2|
|          8|    2|
|         43|    2|
|        134|    2|
|         89|    2|
|         51|    1|
|         49|    1|
|        140|    1|
|        176|    1|
|         47|    1|
|        175|    1|
|        127|    1|
|         50|    1|
|        179|    1|
|         64|    1|
+-----------+-----+
only showing top 20 rows

In [ ]:
classDF \
  .repartition(20) \
  .withColumn("partitionId", spark_partition_id()) \
  .groupBy("partitionId") \
  .count() \
  .orderBy(col("count").desc()) \
  .show()

+-----------+-----+
|partitionId|count|
+-----------+-----+
|         17|    7|
|          1|    7|
|         18|    7|
|          2|    6|
|         16|    5|
|          4|    5|
|          5|    5|
|         19|    5|
|          3|    5|
|          6|    4|
|          0|    4|
|         15|    3|
|         10|    3|
|          9|    3|
|          7|    3|
|         12|    2|
|         13|    2|
|          8|    2|
|         11|    2|
|         14|    2|
+-----------+-----+